* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://wallpaperaccess.com/full/3910195.jpg);
    width: 100%;
    height: 100vh;
    /* color: yellow; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
form {
    padding: 30px;

}
.align-center {
   background-color: antiquewhite;
   width: 600px;
   display: flex;
   justify-content: center;
   height: auto;
   color: black;
}
.background-size {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    
}
h2{
    text-align: center;
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
}
textarea{
    background-color: transparent;
}
.button{
    margin: auto;
    text-align: center;
}